.filters-panel {
    margin-bottom: 8px;
}

.submit-button {
    margin-left: auto;
}

.form-fields-container-2,
.form-fields-container-4 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .form-fields-container-2,
    .form-fields-container-4 {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .field-group-2:nth-of-type(2),
    .field-group-4:nth-of-type(even) {
        margin-left: 16px;
    }
    .field-group-4 {
        width: calc(50% - 8px);
    }
}

@media (min-width: 1080px) {
    .field-group-4 {
        width: auto;
    }
    .field-group-4:nth-of-type(3) {
        margin-left: 16px;
    }
}