<div class="container">
    <div class="image-col">
        <img [src]="imageUrl" />
    </div>
    <div class="text-col">
        <h1 class="mat-display-1 headline">{{ beerName }}</h1>
        <p class="mat-h2 tagline">{{ tagline }}</p>
        <p class="mat-body">{{ description }}</p>

        <button 
            *ngIf="isBookmarked; else elseBlock" 
            mat-icon-button
            color="warn"
            (click)="handleButtonClick()"
            aria-label="Remove from bookmarks"
            matTooltip="Remove from bookmarks"
        >
            <mat-icon color="warn">remove_circle</mat-icon>
        </button>

        <ng-template #elseBlock>
            <button 
                mat-icon-button 
                color="accent"
                (click)="handleButtonClick()"
                aria-label="Add to bookmarks"
                matTooltip="Add to bookmarks"
            >
                <mat-icon color="accent">add_circle</mat-icon>
            </button>
        </ng-template>
    </div>
</div>