<mat-card class="beer-card">
    <div class="img-col">
        <img src="{{ beerImageUrl }}" />
    </div>
    <div class="text-col">
        
        <mat-card-title>{{ beerName }}</mat-card-title>
        <mat-card-subtitle>{{ beerTagline }}</mat-card-subtitle>
        <mat-card-content class="description">{{ beerDescription | slice:0:200 }}</mat-card-content>
        <a 
            mat-flat-button 
            color="primary"
            [routerLink]="['/beer', beerId]"
        >View details</a>
    </div>
</mat-card>