<mat-card class="beer-card">
    <div class="img-col">
        <img src="{{ beer.image_url }}" />
    </div>
    <div class="text-col">
        
        <mat-card-title>{{ beer.name }}</mat-card-title>
        <mat-card-subtitle>{{ beer.tagline }}</mat-card-subtitle>
        <mat-card-content class="description">{{ beer.description | truncateWithEllipsis:200 }}</mat-card-content>
        <div class="actions-container">
            <a 
                mat-stroked-button 
                class="action"
                [routerLink]="['/beer', beer.id]"
            >Details</a>
            <button
                *ngIf="isBookmarked; else elseBlock"
                mat-icon-button
                color="warn"
                class="action"
                (click)="handleBookmarkButtonClick()"
                aria-label="Remove from bookmarks"
                matTooltip="Remove from bookmarks"
            >
                <mat-icon color="warn">remove_circle</mat-icon>
            </button>
            <ng-template #elseBlock>
                <button 
                    mat-icon-button 
                    color="accent" 
                    class="action"
                    (click)="handleBookmarkButtonClick()"
                    aria-label="Add to bookmarks"
                    matTooltip="Add to bookmarks"
                >
                    <mat-icon color="accent">add_circle</mat-icon>
                </button>
            </ng-template>
        </div>
    </div>
</mat-card>